
*.pyc
*.iml
*.rst
JobScrapper/venv/*
JobScrapper/.idea/inspectionProfiles/profiles_settings.xml
JobScrapper/.idea/misc.xml
JobScrapper/.idea/modules.xml
JobScrapper/.idea/vcs.xml
JobScrapper/venv/Lib/site-packages/beautifulsoup4-4.9.0.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/beautifulsoup4-4.9.0.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/beautifulsoup4-4.9.0.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/beautifulsoup4-4.9.0.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/beautifulsoup4-4.9.0.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/certifi-2020.4.5.1.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/certifi-2020.4.5.1.dist-info/LICENSE
JobScrapper/venv/Lib/site-packages/certifi-2020.4.5.1.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/certifi-2020.4.5.1.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/certifi-2020.4.5.1.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/certifi-2020.4.5.1.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/certifi/cacert.pem
JobScrapper/venv/Lib/site-packages/chardet-3.0.4.dist-info/entry_points.txt
JobScrapper/venv/Lib/site-packages/chardet-3.0.4.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/chardet-3.0.4.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/chardet-3.0.4.dist-info/metadata.json
JobScrapper/venv/Lib/site-packages/chardet-3.0.4.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/chardet-3.0.4.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/chardet-3.0.4.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/click-7.1.2.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/click-7.1.2.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/click-7.1.2.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/click-7.1.2.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/click-7.1.2.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/Flask-1.1.2.dist-info/entry_points.txt
JobScrapper/venv/Lib/site-packages/Flask-1.1.2.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/Flask-1.1.2.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/Flask-1.1.2.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/Flask-1.1.2.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/Flask-1.1.2.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/idna-2.9.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/idna-2.9.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/idna-2.9.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/idna-2.9.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/idna-2.9.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/itsdangerous-1.1.0.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/itsdangerous-1.1.0.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/itsdangerous-1.1.0.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/itsdangerous-1.1.0.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/itsdangerous-1.1.0.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/Jinja2-2.11.2.dist-info/entry_points.txt
JobScrapper/venv/Lib/site-packages/Jinja2-2.11.2.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/Jinja2-2.11.2.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/Jinja2-2.11.2.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/Jinja2-2.11.2.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/Jinja2-2.11.2.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/MarkupSafe-1.1.1.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/MarkupSafe-1.1.1.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/MarkupSafe-1.1.1.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/MarkupSafe-1.1.1.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/MarkupSafe-1.1.1.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/markupsafe/_speedups.cp37-win_amd64.pyd
JobScrapper/venv/Lib/site-packages/pip-20.0.2.dist-info/entry_points.txt
JobScrapper/venv/Lib/site-packages/pip-20.0.2.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/pip-20.0.2.dist-info/LICENSE.txt
JobScrapper/venv/Lib/site-packages/pip-20.0.2.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/pip-20.0.2.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/pip-20.0.2.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/pip-20.0.2.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/pip/_vendor/certifi/cacert.pem
JobScrapper/venv/Lib/site-packages/pip/_vendor/distlib/_backport/sysconfig.cfg
JobScrapper/venv/Lib/site-packages/pip/_vendor/distlib/t32.exe
JobScrapper/venv/Lib/site-packages/pip/_vendor/distlib/t64.exe
JobScrapper/venv/Lib/site-packages/pip/_vendor/distlib/w32.exe
JobScrapper/venv/Lib/site-packages/pip/_vendor/distlib/w64.exe
JobScrapper/venv/Lib/site-packages/requests-2.23.0.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/requests-2.23.0.dist-info/LICENSE
JobScrapper/venv/Lib/site-packages/requests-2.23.0.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/requests-2.23.0.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/requests-2.23.0.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/requests-2.23.0.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/setuptools-46.1.3.dist-info/dependency_links.txt
JobScrapper/venv/Lib/site-packages/setuptools-46.1.3.dist-info/entry_points.txt
JobScrapper/venv/Lib/site-packages/setuptools-46.1.3.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/setuptools-46.1.3.dist-info/LICENSE
JobScrapper/venv/Lib/site-packages/setuptools-46.1.3.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/setuptools-46.1.3.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/setuptools-46.1.3.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/setuptools-46.1.3.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/setuptools-46.1.3.dist-info/zip-safe
JobScrapper/venv/Lib/site-packages/setuptools/cli-32.exe
JobScrapper/venv/Lib/site-packages/setuptools/cli-64.exe
JobScrapper/venv/Lib/site-packages/setuptools/cli.exe
JobScrapper/venv/Lib/site-packages/setuptools/command/launcher manifest.xml
JobScrapper/venv/Lib/site-packages/setuptools/gui-32.exe
JobScrapper/venv/Lib/site-packages/setuptools/gui-64.exe
JobScrapper/venv/Lib/site-packages/setuptools/gui.exe
JobScrapper/venv/Lib/site-packages/setuptools/script (dev).tmpl
JobScrapper/venv/Lib/site-packages/setuptools/script.tmpl
JobScrapper/venv/Lib/site-packages/soupsieve-2.0.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/soupsieve-2.0.dist-info/LICENSE.md
JobScrapper/venv/Lib/site-packages/soupsieve-2.0.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/soupsieve-2.0.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/soupsieve-2.0.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/soupsieve-2.0.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/urllib3-1.25.9.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/urllib3-1.25.9.dist-info/LICENSE.txt
JobScrapper/venv/Lib/site-packages/urllib3-1.25.9.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/urllib3-1.25.9.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/urllib3-1.25.9.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/urllib3-1.25.9.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/Werkzeug-1.0.1.dist-info/INSTALLER
JobScrapper/venv/Lib/site-packages/Werkzeug-1.0.1.dist-info/METADATA
JobScrapper/venv/Lib/site-packages/Werkzeug-1.0.1.dist-info/RECORD
JobScrapper/venv/Lib/site-packages/Werkzeug-1.0.1.dist-info/top_level.txt
JobScrapper/venv/Lib/site-packages/Werkzeug-1.0.1.dist-info/WHEEL
JobScrapper/venv/Lib/site-packages/werkzeug/debug/shared/console.png
JobScrapper/venv/Lib/site-packages/werkzeug/debug/shared/debugger.js
JobScrapper/venv/Lib/site-packages/werkzeug/debug/shared/FONT_LICENSE
JobScrapper/venv/Lib/site-packages/werkzeug/debug/shared/jquery.js
JobScrapper/venv/Lib/site-packages/werkzeug/debug/shared/less.png
JobScrapper/venv/Lib/site-packages/werkzeug/debug/shared/more.png
JobScrapper/venv/Lib/site-packages/werkzeug/debug/shared/source.png
JobScrapper/venv/Lib/site-packages/werkzeug/debug/shared/style.css
JobScrapper/venv/Lib/site-packages/werkzeug/debug/shared/ubuntu.ttf
JobScrapper/venv/pyvenv.cfg
JobScrapper/venv/Scripts/activate
JobScrapper/venv/Scripts/activate.bat
JobScrapper/venv/Scripts/Activate.ps1
JobScrapper/venv/Scripts/chardetect.exe
JobScrapper/venv/Scripts/deactivate.bat
JobScrapper/venv/Scripts/easy_install-3.7.exe
JobScrapper/venv/Scripts/easy_install.exe
JobScrapper/venv/Scripts/flask.exe
JobScrapper/venv/Scripts/pip.exe
JobScrapper/venv/Scripts/pip3.7.exe
JobScrapper/venv/Scripts/pip3.exe
JobScrapper/venv/Scripts/python.exe
JobScrapper/venv/Scripts/pythonw.exe
